<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOS - CCA Test</title>
    <style><%- include('../build/css/main.min.css'); %></style>
</head>
<body>
    <div class="page-container">
        <pre>
            <code data-bind="update-state"></code>
        </pre>
    </div>

    <!-- Start script section -->
    <script><%- include('../build/js/main.js'); %></script>
</body>
</html>