<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOS - CCA Test</title>
    <style><%- include('../build/css/main.min.css'); %></style>
</head>
<body>
    <div class="page-container">
        <div class="data-container">
            <div class="data-row">
                <div class="data-cell">
                    <div class="cell-title">initialized</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">match_created</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">match_ended</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">podium_start</div>
                    <div class="cell-info"></div>
                </div>
            </div>
            <div class="data-row">
                <div class="data-cell">
                    <div class="cell-title">pre_countdown_begin</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">post_countdown_begin</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">goal_scored</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">player_team_data</div>
                    <div class="cell-info"></div>
                </div>
            </div>
            <div class="data-row">
                <div class="data-cell">
                    <div class="cell-title">replay_start</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">replay_will_end</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">replay_end</div>
                    <div class="cell-info"></div>
                </div>
                <div class="data-cell">
                    <div class="cell-title">update_tick</div>
                    <div class="cell-info"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start script section -->
    <script><%- include('../build/js/main.js'); %></script>
</body>
</html>